<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>login</h1>
  <input type="text" id="captcha">
  <img src="/captcha" alt="">
  <script>
      function getCookie(sName) {
        var aCookie = document.cookie.split("; ");
        for (var j = 0; j < aCookie.length; j++) {
            var aCrumb = aCookie[j].split("=");
            if (escape(sName) == aCrumb[0])
                return unescape(aCrumb[1]);
        }
        return null;
      }
    document.getElementById('captcha').addEventListener('change', function() {
      const code = this.value
      console.log('code', code);
      var aCookie = getCookie('captcha')
      console.log('aCookie', aCookie);
      if (code !== captcha) {
        console.log('验证码错误');
      }
    })
  </script>
</body>
</html>