*{
    margin: 0;
    padding: 0;
}
.baozhu{
    width: 200px;
    height: 110px;
     white-space:nowrap;
     overflow: hidden;
     position: absolute;
    /* overflow-x: scroll;
    overflow-y: hidden;  */
}
/* 
.baozhu::-webkit-scrollbar{
    display: none;
} */


img{
    width: 100px;
    height: 100px; 
}